#!/usr/bin/python
import Adafruit_DHT
import subprocess
import time
import socket

hostname = socket.gethostname()
delay = ({{ DHT22.delay }})

while True:
  humidity, temperature = Adafruit_DHT.read_retry( Adafruit_DHT.DHT22 , {{ DHT22.pin }} )

  if humidity is not None and temperature is not None:
    print '%.2f' % (temperature)
    print '%.2f' % (humidity)
  else:
    print '0'

  command = "echo 'dht22,name=temp,host=%s value=%.2f' | curl -s -i -XPOST 'http://{{ pi.network.ip }}:{{ dht22.influx.port }}/write?db={{ influx.db.name }}' --data-binary @-" % (hostname,temperature)
  command = "echo 'dht22,name=hum,host=%s value=%.2f' | curl -s -i -XPOST 'http://{{ pi.network.ip }}:{{ dht22.influx.port }}/write?db={{ influx.db.name }}' --data-binary @-" % (hostname,humidity) 
  print command

  res = subprocess.check_output(['bash','-c', command])

  for line in res.splitlines():
    print line

  time.sleep(delay)
