<style>

.forward {
  position: absolute;
  bottom: 10%;
  left: 19%;
  color: #8b00b2;
  font-weight: bold;
}

.back {
  position: absolute;
  bottom: 10%;
  left: 7%;
  color: #8b00b2;
  font-weight: bold;
}

.mymeteobars {
  display: none;
}

.meteobars_txt {
  position: absolute;
  bottom: 10%;
  left: 10%;
  color: #0000aa;
  font-weight: bold;
}

.meteobars_img {
  margin:-3% 0 0 0;
}

.meteobars_slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.meteobars_fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.2s;
  animation-name: fade;
  animation-duration: 0.2s;
}

@-webkit-keyframes meteobars_fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes meteobars_fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 500px) {
  .meteobars_text {font-size: 11px}
}

</style>

<div class="meteobars_slideshow-container">

  <div class="mymeteobars meteobars_fade">
    <img class="meteobars_img" src="/sharedFiles/map_meteobars_0.gif" alt="">
    <span class="meteobars_txt">Now</span><span class="forward">+</span>
  </div>

  <div class="mymeteobars meteobars_fade">
    <img class="meteobars_img" src="/sharedFiles/map_meteobars_1.gif" alt="">
    <span class="back">-</span><span class="meteobars_txt">+12h</span><span class="forward" onclick="go()">+</span>
  </div>

  <div class="mymeteobars meteobars_fade">
    <img class="meteobars_img" src="/sharedFiles/map_meteobars_2.gif" alt="">
    <span class="back">-</span><span class="meteobars_txt">24h</span><span class="forward" onclick="go()">+</span>
  </div>

  <div class="mymeteobars meteobars_fade">
    <img class="meteobars_img" src="/sharedFiles/map_meteobars_3.gif" alt="">
    <span class="back">-</span><span class="meteobars_txt">36h</span><span class="forward" onclick="go()">+</span>
  </div>

  <div class="mymeteobars meteobars_fade">
    <img class="meteobars_img" src="/sharedFiles/map_meteobars_4.gif" alt="">
    <span class="back">-</span><span class="meteobars_txt">48h</span><span class="forward" onclick="go()">+</span>
  </div>

  <div class="mymeteobars meteobars_fade">
    <img class="meteobars_img" src="/sharedFiles/map_meteobars_5.gif" alt="">
    <span class="back">-</span><span class="meteobars_txt">60h</span><span class="forward" onclick="go()">+</span>
  </div>

  <div class="mymeteobars meteobars_fade">
    <img class="meteobars_img" src="/sharedFiles/map_meteobars_6.gif" alt="">
    <span class="back">-</span><span class="meteobars_txt">72h</span>
  </div>

</div>

<script>
var meteobar_slideIndex = 0;

function go() {
  var meteobar_slides = document.getElementsByClassName("mymeteobars");
    meteobar_slides[meteobar_i].style.display = "none";
    meteobar_slideIndex++;
    meteobar_slides[meteobar_i+1].style.display = "block";
  }
  if (meteobar_slideIndex >= meteobar_slides.length) {
    meteobar_slideIndex = 0
  }
}
</script>
