{{ tempCheck.resultVariableName }}=$( {{ tempCheck.command }})
echo "{{ tempCheck.measureName }},type={{ tempCheck.measureType }} value=${{ tempCheck.resultVariableName }}" | curl -s -i -XPOST 'http://localhost:8086/write?db={{ influx.db.name }}' --data-binary @-
