#!/bin/bash
RESULT=$( {{ item.command }} )
echo "{{ item.measureName }},type={{ item.measureType }} value=$RESULT" | curl -s -i -XPOST 'http://{{ pi.network.ip }}:8086/write?db={{ influx.db.name }}' --data-binary @-
echo $RESULT
